/*  your css code here. If applicable */
.container {
	display:flex;
	
}
.star1 {
	height: 0;
	width: 0;
	border-bottom: 250px solid yellow;
	border-right: 130px solid transparent;
	border-left: 130px solid transparent;
	position:relative;
}
.star1:before {
	position:absolute;
	content:'';
	height: 0;
	width: 0;
	border-top: 250px solid yellow;
	border-right: 130px solid transparent;
	border-left: 130px solid transparent;
	top:70px;
	left:-130px;
}